## SetName = PCC7492
## Date_pool_expt_started = 
## Person = Nicholas
## Mutant Library = PCC7492
## Description = phosphate-nitrate-temp-circadian
## gDNA plate = PCC7492_gDNA_plate1
## Sequenced At = NA 
## Media = BG-11
## Growth Method = flask
## Group = phosphate-nitrate
## Temperature = 37
## pH = 8
## Liquid v. solid = Liquid
## Aerobic_v_Anaerobic = Aerobic
## Shaking = 200 rpm
## Condition_1 = Nitrate
## Concentration 1 low = 0 
## Concentration 1 high = 30
## Concentration 1 n_increments = 8
## Units_1 = mM
## Condition_2 = Phosphate
## Concentration 2 low = 0
## Concentration 2 high = 0.5
## Concentration 2 n_increments = 12
## Units_2 = mM
## Timecourse =  NA
## Timecourse Sample = NA
## Growth Plate ID = NA
## Growth Plate wells = NA

